@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* reset all margin, padding & ul,ol by default */

* {
    margin: 0;
    padding: 0;
}

ul[role=list],
ol[role=list],
li {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

/* typography */

:root {
    --color__primary-1: rgb(102, 226, 220);
    --color__primary-2: rgb(250, 116, 83);
    --color__primary-3: rgb(255, 185, 100);
    --color__neutral-1: rgb(25, 24, 38);
    --color__neutral-2: rgb(252, 250, 249);
    --fs__h1-desktop: 5.5rem;
    --fs__h2-desktop: 2.5rem;
    --fs__h1-tablet: 4rem;
    --fs__h2-tablet: 2rem;
    --fs__h1-mobile-1: 2.5rem;
    --fs__h2-mobile-1: 2rem;
    --fs__body-mobile-1: 1rem;
    --fs__body-mobile-2: 1.125rem;
    --fs__body-desktop-1: 1.25rem;
    --fs__body-desktop-2: 1rem;
    --fs__body-tablet-1: 1.125rem;
    --fs__body-tablet-2: 1rem;
    --regular: 400;
    --bold: 700;
    --padding-button: 1.2rem 3.6875rem;
}

html {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 100%;
}

.header__title {
    font-size: var(--fs__h1-mobile-1);
    font-weight: var(--bold);
    text-align: left;
    line-height: 3rem;
    color: var(--color__neutral-1);
    letter-spacing: -0.0625rem;
}

@media screen and (min-width: 46rem) {
    .header .header__title {
        width: 70%;
        line-height: 4rem;
    }

    .header .header__p {
        width: 74%;
    }

    .header__title {
        font-size: var(--fs__h1-tablet);
    }

    .header__p {
        font-size: var(--fs__body-tablet-1);
    }
}

@media screen and (min-width) {}

.header__p {
    font-size: var(--fs__body-mobile-1);
    font-weight: var(--regular);
    text-align: left;
    line-height: 1.625rem;

}


.plan-premium__title {
    font-size: var(--fs__h2-mobile-1);
    font-weight: var(--bold);
    color: var(--color__neutral-2);
}

.plan-premium__p {
    font-size: var(--fs__body-mobile-2);
    font-weight: var(--regular);
    color: var(--color__neutral-2);
}

.plan-premium__price {
    display: flex;
    align-items: center;
    font-size: 4.0625rem;
    font-weight: var(--bold);
    color: var(--color__neutral-2);
}

.plan-premium__price::after {
    content: '/ month';
    font-size: 1.2rem;
    font-weight: var(--regular);
    color: var(--color__neutral-2);
    margin-left: 1rem;
}

ul li {
    font-size: 1rem;
    color: var(--color__neutral-1);
}

li a {
    text-decoration: none;
    color: var(--color__neutral-1);
    font-weight: var(--bold);
}


/* layout */

body::before {
    content: '';
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-image: url('../assets/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-position: 22px -296px;
    /* top: -291px;
    left: 65px; */
    background-size: cover;
    z-index: -1;
}

@media screen and (min-width: 46rem) {
    body::before {
        background-image: url(../assets/bg-main-tablet.png);
        right: 50%;
        top: -5%;
    }
}

@media screen and (min-width: 55rem) {
    body::before {
        background-image: url(../assets/bg-main-desktop.png);
        right: 20%;
        top: -5%;
    }
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 46rem) {
    body {
        background-image: url("../assets/bg-pattern-1.svg");
        background-repeat: no-repeat;
        background-position: right -2em top -3em;
        background-size: 16.66rem;
    }
}

@media screen and (min-width: 55rem) {
    body {
        background-image: url("../assets/bg-pattern-1.svg");
        background-repeat: no-repeat;
        background-position: right top -2em;
        background-size: 20rem;
    }
}

.container {
    width: 100%;
}

@media screen and (min-width: 46rem) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2.5rem 1.5rem;
}

.header__logo {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.header__title {
    margin-bottom: 2rem;
}

@media screen and (min-width: 46rem) {
    .header {
        padding: 2.5rem 0;
    }

    .header__title {
        width: 70%;
    }

    .header__p {
        width: 74%;
        max-width: 32rem;
    }
}

.plan {
    position: relative;
    width: 100%;
    height: 37.5rem;
    margin: 6rem 0 24.375rem;
    background-color: var(--color__neutral-1);
    border-radius: 10px;
    z-index: 0;

}

@media screen and (min-width: 46rem) {
    .plan {
        margin: 15.75rem auto 11.375rem;
    }
}

.plan .plan__img-bg {
    position: absolute;
    transform: scale(0.9);
    top: -1.45rem;
    left: 10%;
}

@media screen and (min-width: 46rem) {
    .plan .plan__img-bg {
        left: 30%;
    }
}

.plan .plan__img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 120px;
    left: 49%;
    width: 13rem;
    z-index: 1;
}

@media screen and (min-width: 46rem) {
    .plan .plan__img {
        width: 16.88rem;
        left: 30%;
        top: 10rem;
    }
}

.plan .plan-premium {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 34.125rem;
    position: absolute;
    bottom: -20rem;
    padding: 3rem 2.25rem;
    background-color: var(--color__primary-2);
    border-radius: 10px;
    z-index: 2;
}

@media screen and (min-width: 46rem) {
    .plan .plan-premium {
        width: 25rem;
        height: 34.16rem;
        left: 35%;
        top: 35%;
    }
}

.plan .plan-premium__p {
    margin: 1rem 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3.6875rem;
    border-radius: 0.625rem;
    cursor: pointer;
    border: none;
}

.btn--ios {
    background-color: var(--color__neutral-1);
    color: var(--color__neutral-2);
    margin: 1rem 0;
}

.btn--ios:hover {
    background-color: var(--color__primary-1);
    transition: 0.2ms all ease-in;
}

.btn--android {
    background-color: var(--color__neutral-2);
}

.btn--android:hover {
    background-color: var(--color__primary-3);
    transition: 0.2ms all ease-in;
}

.btn--ios span,
.btn--android span {
    margin-left: .5rem;
    font-weight: var(--bold);
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
}

@media screen and (min-width: 46rem) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }
}


.footer p {
    width: 100%;
    margin: 2rem 0;
    line-height: 1.625;
    font-weight: var(--regular);
}

.footer p a {
    font-weight: var(--bold);
}

.icons {
    width: 6.25rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

@media screen and (min-width: 46rem) {
    .icons {
        align-self: flex-end;
    }
}

.icons a {
    cursor: pointer;
    transition: 0.2ms all ease-in;
}

.icons a:hover {
    filter: invert(57%) sepia(39%) saturate(2301%) hue-rotate(326deg) brightness(103%) contrast(102%);
}