@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;800;900&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}

/* reset all margin, padding & ul,ol by default */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

/* typography */

:root {
    --color__neutral-1: rgb(25, 24, 38);
    --color__neutral-2: rgb(252, 250, 249);
    --light-grey: hsl(225, 100%, 98%);
    --grey: hsl(224, 23%, 55%);
    --purple: hsl(245, 75%, 52%);
    --fs__body-mobile: 0.938rem;
    --fs__body-desktop: 1.25rem;
    --fs__h2-desktop: 1.75rem;
    --fs__h2-mobile: 1.375rem;
    --fs__p-desktop: 1rem;
    --fs__p-mobile: 0.938rem;
    --fs__h4-desktop: 1rem;
    --fs__h4-mobile: 0.875rem;
    --regular: 500;
    --bold: 800;
    --black: 900;
    --padding-button: 1.2rem 3.6875rem;
}

html,
body {
    height: 98%;
    font-size: 16px;
}


body {
    background-color: hsl(225, 100%, 94%);
    background-image: url("../images/pattern-background-mobile.svg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: 'Red Hot Display', sans-serif;
    font-size: var(--fs__body-mobile);
    font-weight: var(--fs__p-mobile);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: var(--fs__h2-mobile);
    font-weight: 700;
    color: black;
    font-style: normal;
}

h4 {
    font-size: var(--fs__h4-mobile);
}

p {
    line-height: 25px;
    color: hsl(224, 23%, 55%)
}

/* layout */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    flex-direction: column;
}

.center-container {
    width: 20.438rem;
    height: 35.438rem;
    text-align: center;
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0px 20px 20px hsl(245, 75%, 52%, 5%);
}


.hero-img {
    width: 100%;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.order-summary {
    margin: 0 30px 0 30px;
}

.order-summary h2 {
    margin-top: 30px;
    margin-bottom: 15px;
}



.plan-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: var(--light-grey);
    border-radius: 10px;
    margin: 28px;
    padding: 15px 10px;
}

.plan-container img {
    width: 48px;
}

.plan-details {
    margin-right: 40px;
}

.plan-container a {
    color: var(--purple);
    font-weight: var(--bold);
    font-size: 0.813rem;
}

.plan-container a:hover {
    color: rgba(120, 109, 236, 1);
    text-decoration: none;
}

.payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payment a:hover {
    color: black;
}

.payment .payment-btn {
    width: 83%;
    background-color: var(--purple);
    color: #FFF;
    border: none;
    padding: 15px 0;
    border-radius: 10px;
    font-size: var(--fs__body-mobile);
    font-weight: 900;
    margin-bottom: 1.2rem;
    box-shadow: 0px 20px 20px hsl(245, 75%, 52%, 15%);
}

.payment-btn:hover {
    cursor: pointer;
    background-color: rgba(120, 109, 236, 1)
}

.payment .cancel-btn {
    text-decoration: none;
    font-weight: var(--bold);
    color: var(--grey);
}

@media only screen and (min-with: 400px) {
    body {
        background-color: red;
    }
}