@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* reset all margin, padding & ul,ol by default */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

/* typography */

:root {
    --color__neutral-1: rgb(25, 24, 38);
    --color__neutral-2: rgb(252, 250, 249);
    --fs__h1-desktop: 5.5rem;
    --fs__h1-mobile-1: 2.5rem;
    --fs__body-mobile-1: 1rem;
    --fs__body-mobile-2: 1.125rem;
    --fs__body-desktop-1: 1.25rem;
    --fs__body-desktop-2: 1rem;
    --regular: 500;
    --bold: 900;
    --padding-button: 1.2rem 3.6875rem;
}

body {
    background: hsl(225, 100%, 94%) url("images/pattern-background-desktop.svg") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: 'Red Hot Display', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-container {
    text-align: center;
    background-color: white;

    border-radius: 1.25rem;
}


.hero-img {
    width: 100%;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}